body {
  width: 100vw;

  background-image: url(./images/Background_Camping.jpg);
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  margin-top: 7rem;
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  transform: rotate(-35deg);
  margin-bottom: 5rem;
}

section {
  width: 40%;
  margin: 3rem auto;
  padding: 3rem;
  background-color: rgba(196, 161, 188, 0.69);
}

h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.2vw;
}
p {
  font-size: 1.5vw;
}
.form p {
  text-align: center;
}
label {
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 1vw;
  text-transform: uppercase;
  padding: 0.3rem;
}
input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 2rem;
}
div {
  width: 100%;
  margin: auto;
  margin-bottom: 0.5rem;
}
button {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 1vw;
  padding: 0.3rem;
}
::placeholder {
  font-style: italic;
  font-size: 1vw;
}
